<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ngModel name="username" required>
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" ngModel name="email" email #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email address!</span>
          </div>
        </div>
        <p *ngIf="!userData.valid && userData.touched">UserData is invalid!</p>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" name="gender" ngModel [value]="gender">
            {{ gender }}
          </label>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" [ngModel]="defaultQuestion" name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea name="questionAnswer"  rows="2" class="form-control" [(ngModel)]="answer"></textarea>
        </div>
        <p>Your Reply: {{ answer }}</p>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>&nbsp;
        <button class="btn btn-secndary" type="submit" (click)="onReset()">Reset</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr>
      <h3>Your Data</h3>
      <p>UserName: {{ user.username }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Secret Question: Your First {{ user.secret }}</p>
      <p>Answer: {{ user.answer }}</p>
      <p>Gender: {{ user.gender }}</p>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" formControlName="username" class="form-control">
                <span *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched" class="help-block">Please enter a valid username!</span>
              </div>
              <div class="form-group">
                <label for="email">Mail</label>
                <input type="email" id="email" formControlName="email" class="form-control">
                <span *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched" class="help-block">Please enter a valid email!</span>
              </div> 
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" name="gender" formControlName="gender" [value]="gender">
            {{ gender }}
          </label>
        </div>
        <span *ngIf="!signupForm.valid && signupForm.touched" class="help-block">Please enter valid data!</span>
        <button class="btn btn-primary" type="submit">Submit</button>&nbsp;
        <button class="btn btn-secndary" type="submit">Reset</button>
      </form>
    </div>
  </div>
</div>